@model Vidly.ViewModels.MembershipTypesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Membership Types</h2>




@if (Model.MembershipTypes.Count() > 0)
{
    <div class="text-right">
        @Html.ActionLink("New Membership", "", "", new { @class = "btn btn-success", @id = "btnMembershipModal" })
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.MembershipType.Id)</th>
                <th>@Html.DisplayNameFor(m => m.MembershipType.Name)</th>
                <th>@Html.DisplayNameFor(m => m.MembershipType.DiscountRate)</th>
                <th>@Html.DisplayNameFor(m => m.MembershipType.DurationInMonths)</th>
                <th>@Html.DisplayNameFor(m => m.MembershipType.SignUpFee)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MembershipTypes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DiscountRate</td>
                    <td>@item.DurationInMonths</td>
                    <td>@item.SignUpFee</td>
                    <td>
                        <div class="btn-group-sm">

                            @*<button class="btn btn-sm btn-info glyphicon glyphicon-pencil"></button>*@
                            @Html.ActionLink(" ", "Edit", "Memberships", new { id = item.Id }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-pencil", @id="btnMembershipModal"})

                            @*<button class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>*@
                            @Html.ActionLink(" ", "Delete", "Memberships", new { id = item.Id }, new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash" })

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h2> There is not Memberships yet</h2>

        <div class="text-right">
            @Html.ActionLink("New Membership", "", "", new { @class = "btn btn-success", @id = "btnMembershipModal" })
        </div>
    </div>

}



@using (Html.BeginForm("Save", "Memberships"))
{


    <div class="modal fade" id="type" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Membership Type</h4>
                </div>
                <div class=" modal-body table-placeholder">
                    @*###############*@
                    <div id="pp">
                        @Html.Partial("_CreateMembershipType",Model)
                    </div>
                    @*#####################*@
                </div>

            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
}




@section scripts{

    <script>
        $(document).ready(function () {
            $("#btnMembershipModal").click(function () {
                ToggleModal()
                //pp.load()
                return false;
            });
            $("#btnCloseModal").click(function () {
                ToggleModal()
                return false;
            });
            $("#membershipTypeDuration").change(function () {
                ValidateNumbers();
            });

            $("#btnSave").click(function () {
                ReloadTable();
            });

        });





        function ToggleModal() {
            $("#type").modal("toggle")

        }

        function ValidateNumbers() {
            var nums = $("#membershipTypeDuration").val()


        }

        function ReloadTable() {
            $(".table").load()
        }

    </script>

}

